h2 {

    color: red;
    font-size: 40px;
}

p{ 
    margin:100px




}

div{
    width:100px;
    height:100px;
    background-color: aquamarine;
    padding:100px 100px 100px 100px;
    margin:100px 100px 100px 100px;
}

div {

    height: 300px;
    width:300px;
    border:15px  
    padding:500;
    margin:500px;
}

p{

    color: #000567
}

