#static{

    position:static;
    border:3px solid greenyellow;
    width:250px;
    height:250;
    padding: 20px;

}

#relative{

    position:relative;
    border:3px solid rgb(66, 110, 0);
    width:250px;
    height:250;
    padding: 20px;

    left:10px;
    top:500px;

}

#fixed{

    position:relative;
    border:3px solid rgb(0, 110, 5);
    width:250px;
    height:250;
    padding: 20px;

    left:10px;
    top:500px;

}


#parent{

    position:relative;
    border:3px solid rgb(192, 138, 138);
    width:250px;
    height:250;
    padding: 20px;

    left:10px;
    top:500px;

}

#absolute{

    position:absolute ;
    border:3px solid rgb(192, 138, 181);
    width:250px;
    height:250;
    padding: 20px;

    left:10px;
    top:500px;

}


